$color--light:  #ffffff;
$color--medium: #EBEBEB;
$color--dark:   #111111;

html {
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background: $color--light;
    box-sizing: border-box;
    min-height: 100%;
    padding: 2.5em;
}

body,
main {
    align-items: center;
    display: flex;
    justify-content: center;
}

a,
a:visited,
main {
    color: $color--dark;
}

main {
    background: $color--medium;
    border: 1px solid $color--dark;
    box-sizing: border-box;
    flex-direction: column;
    font-size: 1.25em;
    max-width: 35em;
    overflow: auto;
    padding: 1em;
    text-align: center;

    section {
        margin-bottom: 1.25em;
    }
    
    p {
        margin: 1em 0;
        
        &:first-child {
            margin-top: 0;
        }
    }
}

button {
    background: $color--dark;
    border: none;
    color: $color--light;
    font-size: 0.75em;
    outline: none;
    padding: .75em 1em;
    width: 10em;

    span {
        display: inline-block;
        position: relative;
        height: 100%;
        // quick hack to vertically center unicode arrows
        // I should use font awesome and flexbox for this
        top: -1.5px;
    }

    &:hover { cursor: pointer; }

    .bump-left { right: 0; transition: right ease .25s; }
    .bump-right { left: 0; transition: left ease .25s;  }

    &:hover .bump-left { right: .25em; }
    &:hover .bump-right { left: .25em; }
}

.fade {
    animation: fade 0.25s;
}

@keyframes fade {
    from { opacity:0; }
    to   { opacity:1; }
}